<div class="navbar">
  <div>
    <div class="navbar-logo">
      <img src="images/logo.png" alt="Logo" class="navbar-logo">
    </div>
  </div>
  <ul>
    <li><a href="/index" class="btn">Home</a></li>
    <li><a href="/portfolio" class="btn">Portfolio</a></li>
    <li><a href="/about" class="btn">About</a></li>
    <li><a href="/blogs" class="btn">Blogs</a></li>
    <li><a href="/services" class="btn">Services</a></li>
  </ul>
  <div class="social-icons">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
</div>