<bo>
  <head>
    <title>Make All Stops</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&amp;family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/style.css"> <!-- Link to external CSS -->
  </head>
  <div class="navbar">
      <div>
       <div class="navbar-logo">
        <img src ="images/logo.png"alt="Logo" class="navbar-logo">
       </div>
      
      </div>
      <ul>
        <li><a href="/homepage.handlebars" class ="btn">Home</a></li>
        <li><a href="/portfolia.html" class="btn">Portfolio</a></li>
        <li><a href="#">About </a></li>
        <li><a href="#">Blogs </a></li>
        <li><a href="#">Services </a></li>
      </ul>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    </div>
    <div class="main-content">
    {{{body}}}
   </div>
  </body>
  <script src = "/main.js"></script>
</html>
